<div class="container">
  <div class="row">
    <div class="col-lg-6 blue">
      <a class="area" href="#">
        <div class="block">
          <div class="img-holder">
            <div class="buy-bitcoins"></div>
          </div>
          <h2>Envio de Remesas </h2>

          <p> Venemarket.com es un sitio donden de manera sencilla cualquier persona puede enviar remesas desde Panama
            y Colombia a Venezuela.
            Depositando o por medio transferencias bancarias. Lo que nos hace diferentes es que sabesmos el valor
            de contar con el dinero a tiempo.

          </p>
        </div>
      </a>
    </div>
    <div class="col-lg-6 blue">
      <a class="area" href="#">
        <div class="block">
          <div class="img-holder">
            <div class="trade-icon"></div>
          </div>
          <h2>Ordenes de pago</h2>

          <p>Nuesto algoritmo para procesar ordenes de pago y una gran liquidez, permiten
            manejar un alto Volumen de ordenes, y gran escalabilidad en el mercado.
            Gracias a estandares de seguridad
            altos su informacion permenece segura con nostros</p>

        </div>
      </a>
    </div>
  </div>
</div>
