
<div class="row">
  <h2 class="info-why">Por que Escojer Venemarket.com? </h2>

  <div class="info-holder" id="why">
    <ul>
      <li>
        <div class="icon">
          <span class="glyphicon glyphicon-ok-sign"></span>
        </div>
        <span>Opciones de pago</span>
        <h2>
          Bancos mas populares: Banesco Panamá, Bancolombia, Citi Bank, Mercatil.
        </h2>
      </li>

      <li>
        <div class="icon">
          <span class="glyphicon glyphicon-dashboard"></span>
        </div>
        <span>Gran Liquidez</span>
        <h2>
          Contamos con una amplia liquidez en los bancos antes mencionados, lo que nos permite ser eficientes en los
          págos
        </h2>
      </li>

      <li>
        <div class="icon">
          <span class="glyphicon glyphicon-thumbs-up"></span>
        </div>
        <span> Pagos inmediatos</span>
        <h2>
          Grantizamos pagos en menos de 24 horas
        </h2>
      </li>

    </ul>
  </div>
</div>
