<section class="platform">
  <div class="platform-statistic">
    <div class="container">
      <ul>
        <li>
          <a href="#">
            <h2>Precio del EUR</h2>
            <span> <%= current_rate.value %> VES </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>