<div class="blue_ligth">
  <!-- Work Row -->
  <div class="container">
    <div class="row">
      <div class="col-lg-6 blue">
        <a class="area" href="#">
          <div class="img-holder">
            <div class="buy-bitcoins"></div>
          </div>
          <h2> Inicia session con Google </h2>
          <%= link_to user_google_oauth2_omniauth_authorize_path,
                      class: "btn btn-block btn-social btn-google" do %>
              <span class="fa fa-google"></span> Iniciar session con Google
          <% end %>

        </a>
      </div>
      <div class="col-lg-6 blue">
        <a class="area" href="#">
          <div class="img-holder">
            <div class="trade-icon"></div>
          </div>
          <h2>Inicia session con Facebook</h2>
          <%= link_to user_facebook_omniauth_authorize_path,
                      class: "btn btn-block btn-social btn-facebook" do %>
              <span class="fa fa-facebook"></span> Iniciar session con Facebook

          <% end %>
        </a>
      </div>
    </div>
  </div>

</div>
