<% if user_signed_in? %>
    <% if current_user.admin? %>
        <li><%= render :template => 'connected_users/index' %></li>
    <% end %>

        <%= render 'shared/send_money' %>

        <%= render 'shared/recipient_account' %>

        <div class="row">
          <div class="col-sm-3">
            <a href="#">
              <div class="box">
                <h3>Mis datos</h3>
                <i class="fa fa-user"></i>
              </div>
            </a>
          </div>
          <div class="col-sm-3">

            <%= link_to pay_orders_path do %>

                <div class="box">
                <h3>Solicitudes</h3>
                <i class="fa fa-inbox"></i>
              </div>

            <% end %>

          </div>
          <div class="col-sm-3">

            <%= link_to accounts_path do %>

                <div class="box">
                <h3>Cuentas</h3>
                <i class="fa fa-money"></i>
              </div>

            <% end %>

          </div>
          <div class="col-sm-3">
            <a href="#">
              <div class="box">

                <h3>Notificacion</h3>
                <i class="fa fa-envelope"></i>
              </div>
            </a>
          </div>
        </div>

<% else %>
    <%= render 'social' %>
    <%= render 'rate_section' %>
    <div class="blue_gradient">
      <!-- Work Row -->
      <%= render 'blue_div' %>
      <%= render 'info' %>
    </div>
    <%= render 'layouts/footer' %>
<% end %>
<%= render 'layouts/chat_buttom' %>
<script>

    function getParameters() {
        //Params obj
        var params = {};
        var string = document.URL.toString();

        //To lowercase
        //To array
        url = string.split('?');

        url = url[1];

        //Iterate over url parameters array
        var length = url.length;
        for (var i = 0; i < length; i++) {
            //Create prop
            var prop = url[i].slice(0, url[i].search('='));
            //Create Val
            var value = url[i].slice(url[i].search('=')).replace('=', '');
            //Params New Attr
            params[prop] = value;
        }
        return value;
    }
    ;

    var ready = function () {


                var param = getParameters();
                if (param == 1
                        ) {
                    $("#chat").click();
                }
            }

            ;


    $(document).ready(ready);
    $(document).on("page:load", ready);


    function start_suport_conversation(sid, rip) {
//        var sender_id = $(this).data('sid');
//        var recipient_id = $(this).data('rip');
        var sender_id = sid;
        var recipient_id = rip;

        $.post("/conversations", { sender_id: sender_id, recipient_id: recipient_id }, function (data) {
            chatBox.chatWith(data.conversation_id);
        });
    }
    ;

</script>