<h3>Condiciones de uso</h3>
<body>
<p style="text-align: center;">
  <strong>EL SERVICIO DE CAMBIOS AL DÍA CHILE SE PROPORCIONA EN CONFORMIDAD CON LOS SIGUIENTES TÉRMINOS Y CONDICIONES.</strong>
</p>
<p style="text-align: justify; padding-left: 20px;">
  CONCEPTOS. Para el presente contrato se entenderá por: PARTES: Requirente y CAMBIOS AL DÍA CHILE; REQUIRENTE: Persona natural o jurídica que solicita la prestación del servicio de transferencia de dinero a Venezuela a CAMBIOS AL DÍA CHILE, se entiende requirente desde el momento que solicita el servicio ya sea por nuestras plataformas virtuales o en nuestras oficinas; BENEFICIARIO O RECEPTOR: Persona natural o jurídica que recibe el dinero transferido en una cuenta bancaria de su titularidad, se deja constancia que el banco debe tener una sucursal en Venezuela; SERVICIO: Consiste en la transferencia de dinero a una cuenta bancaria venezolana por solicitud del requirente, el cual se compromete al pago de una comisión , tanto la comisión como el capital deben pagarse en pesos chilenos por el requirente; CAPITAL: Es la suma de dinero que el requirente solicita transferir, esta debe ser pagada, sea en efectivo o mediante transferencia bancaria, en pesos chilenos a CAMBIOS AL DÍA CHILE; COMISIÓN: Consiste en el costo del servicio prestado por CAMBIOS AL DÍA CHILE y su valor se fija en razón del capital, esta suma debe pagarse de la misma forma y oportunidad que el capital. En determinadas oportunidades, las cuales serán explicadas detalladamente en las cláusulas siguientes, la comisión será considerada un gasto administrativo; GASTOS ADMINISTRATIVOS: Es aquella suma de dinero que se condice con el valor de la comisión y que se imputa a gastos derivados de las gestiones previas a la transferencia en que incurre CAMBIOS AL DÍA CHILE, gastos que se realizan incluso en aquellos casos en que la transferencia no pueda realizarse, tales como gastos de personal, manejo de plataformas virtuales, tiempo de gestión pago de impuestos, entre otros; PERFECCIÓN DEL CONTRATO: Momento en que las partes se obligan a realizar las prestaciones acordadas y cuyo cumplimiento es exigido por ley, no obstante aquellas situaciones acordadas por las mismas partes o establecidas por la ley, en que el contrato no pueda cumplirse sea por caso fortuito, fuerza mayor, excesiva onerosidad o cualquier imprevisto irresistible para las partes, téngase especial atención a la cláusula “CAMBIO DE TASA” de este acuerdo; TIEMPO DE TRANSFERENCIA: Espacio de tiempo que va desde el perfeccionamiento del contrato hasta la realización de la transferencia en la cuenta bancaria señalada por el requirente.
</p>
<p style="text-align: justify; padding-left: 20px;">
  DESCRIPCIÓN DEL SERVICIO. El servicio de transferencia de dinero se realiza mediante depósito o transferencia a la cuenta vista o chequera electrónica número 27070093974 del Banco Estado o mediante la entrega material y efectiva del dinero en las oficinas de CAMBIOS AL DÍA CHILE. El servicio de envío queda sujeto a confirmación de factibilidad, momento en el cual se entiende perfecto el contrato de prestación de servicios. El servicio tiene una comisión de 5% calculada sobre el capital. La tasa de cambio será fijada e informada día a día en la plataforma virtual www.cambiosaldia.com de CAMBIOS AL DÍA CHILE. Si bien existen otras plataformas que muestran la variabilidad de la tasa de cambio, CAMBIOS AL DÍA CHILE solo se obliga a respetar la tasa de cambio informada en nuestra plataforma virtual www.cambiosaldia.com, debiendo el requirente informarse en dicha plataforma, se deja constancia que este acuerdo tiene por finalidad velar por los intereses de ambas partes con miras a prever posibles adulteraciones en las plataformas de Facebook e Instagram, imponiéndose una carga mínima de prevención al requirente, cual es revisar la tasa en la plataforma virtual mencionada. La tasa de cambio por la cual se regirá la transferencia que el requirente solicita es aquella establecida al momento de la confirmación, sin perjuicio de lo establecido en la cláusula “CAMBIO DE TASA” de este contrato. Se deja constancia que las tasas de cambio pueden variar incluso dentro de un mismo día.
</p>
<p>
  <strong>
    REGISTRO DE UN GIRO POR PAGINA WEB O SISTEMA. Desde el momento que el cliente o interesado realiza un depósito o transferencia a la cuenta bancaria descrita, debe realizar el registro del giro en el sistema o página web de Cambios al Dia, así mismo la tasa que se pautará o se tomará en cuenta es la que se manejó el día en la cual  se realizó dicho depósito o transferencia bancaria.
  </strong>
</p>
<p style="text-align: justify; padding-left: 20px;">
  TIEMPO DE TRANSFERENCIA. Las transferencias de dinero, generalmente estarán disponible dentro de 48 horas contadas desde la confirmación de factibilidad antes señalada, pero siempre sujeto a los horarios de atención del banco donde se efectuará el giro del dinero por el beneficiario. No obstante, el plazo anterior no operará en aquellos casos de fuerza mayor, caso fortuito o cualquier contingencia que haga excesivamente onerosa la entrega del dinero, en cuyo caso el pago del dinero se realizará en el plazo de 48 horas una vez terminado el hecho, caso o contingencia que impidió o dificultó dicha entrega. Para estos efectos se entenderá, particularmente, como contingencia que haga excesivamente onerosa la entrega del dinero, la fluctuación de la tasa de cambio en un porcentaje mayor a 30%.
  FORMA DE PAGO. La transferencia siempre realizará a la cuenta bancaria del beneficiario indicada por el requirente y el servicio se entenderá prestado completa y satisfactoriamente desde el momento en que se realiza la transferencia. Una vez realizada la transferencia de dinero en la cuenta del beneficiario el retiro del dinero de su cuenta estará sujeto a las condiciones y contingencia que el banco receptor imponga; por tanto, todos los pagos están sujetos a disponibilidad y a las condiciones aplicables en el banco elegido por el requirente. Cualquier exigencia de identificación o información adicional del beneficiario en el banco que pueda demorar la transacción no se considerará para efectos de computar el plazo de 48 horas antes mencionado.
</p>
<p style="text-align: justify; padding-left: 20px;">
  Tanto el dinero transferido (capital) como el cargo por transferencia (comisión del servicio) debe ser pagado en pesos chilenos y, el retiro del dinero por parte del beneficiario solo podrá efectuarse en bolívares fuerte.
  CAMBIO DE LA TASA. Las partes acuerdan revisar la tasa de cambio fijada al momento de perfeccionar este contrato, cuando la fluctuación de la tasa de cambio haga excesivamente oneroso para CAMBIOS AL DÍA CHILE la prestación del servicio. Se entenderá que la fluctuación de la tasa de cambio es excesiva cuando variíe en un porcentaje mayor al 30% respecto de la tasa fijada al momento de perfeccionarse este contrato (estese a lo establecido en la cláusula segunda sobre “DESCRIPCIÓN EL SERVICIO”). La revisión será en los términos siguientes y la elección por una de soluciones que se describirán a continuación será siempre del requirente. Las opciones para solucionar la excesiva onerosidad del acuerdo son: (a) fijar como nueva tasa de cambio aquella establecida al momento de realizar la transferencia al beneficiario, renunciado a la tasa acordada al momento de perfeccionarse al contrato, o (b) devolver al requirente el dinero a transferir (capital) en pesos chilenos, imputándose la comisión a gastos administrativos, a elección del requirente. Para más información sobre las tasas de cambio consultar en la plataforma indicada en la cláusula segunda de este contrato sobre “DESCRIPCIÓN DEL SERVICIO”.
  REEMBOLSO. CAMBIOS AL DÍA CHILE no se hace responsable ante cualquier problema derivado de la imposibilidad de retirar el dinero por el beneficiario en el Banco elegido por el requirente, sea por disposiciones legales o administrativas del país en que se retira el dinero. Recuérdese que el servicio que las partes están suscribiendo y, al cual CAMBIO AL DÍA CHILE se obliga, es realizar la transferencia a la cuenta bancaria indicada por el requirente. No obstante, CAMBIOS AL DÍA CHILE reembolsará la suma principal (capital) de una transferencia de dinero a petición por escrito del requirente si el pago al destinatario no se efectúa en un plazo de 45 días.
</p>
<p style="text-align: justify; padding-left: 20px;">
  INDEMNIZACIÓN. El requirente acepta limitar todos los daños derivados de la negligencia, culpa o dolo de CAMBIOS AL DÍA CHILE al monto de transferencia más la comisión obtenida por este servicio, renunciando el requirente a denunciar la existencia de cualquier otro daño sea directo o indirecto o previsible o no; por tanto, se deja constancia que se avalúan anticipadamente todos los daños derivados de cualquier incumplimiento de CAMBIOS AL DÍA CHILE, fijándose como monto de indemnización total el entregado por el requirente a este servicio, en pesos chilenos y debidamente reajustados. Se deja constancia que esta cláusula en ningún caso constituye renunciar a las acciones derivadas de un dolo futuro o culpa grave, sino que solo constituye una evaluación anticipada de los perjuicios, los cuales en ningún caso podrán exceder del monto pagado por el requirente, esto es el capital más la comisión. Del mismo modo se exonera de toda responsabilidad a CAMBIOS AL DÍA CHILE y a todos sus funcionarios, directores, dueños, agentes, empleados, afiliados, licenciantes, licenciatarios y proveedores de servicios externos contra cualquier pérdida, daño, responsabilidad y reclamaciones, y honorarios, costos y gastos de cualquier tipo relacionado.
</p>
<p style="text-align: justify; padding-left: 20px;">
  POLÍTICA DE PRIVACIDAD. CAMBIOS AL DÍA CHILE puede divulgar su información personal a terceros. La información divulgada puede incluir información que describe su transacción con CAMBIOS AL DÍA CHILE; información de identificación, tal como el nombre, número de teléfono, dirección y otra información sobre remitentes y destinatarios. CAMBIOS AL DÍA CHILE puede proporcionar dicha información a instituciones financieras, tales como bancos y compañías de tarjetas de crédito; tiendas minoristas, tales como mueblerías y tiendas de ropa; compañías que procesan transacciones o prestan otros servicios para CAMBIOS AL DÍA CHILE; agencias gubernamentales; y compañías de ventas por catálogo y otros tipos de ventas directas. Todo lo anterior, sin perjuicio de la normativa vigente sobre protección de datos personales.
</p>
<p style="text-align: justify; padding-left: 20px;">
  RESERVA DE PRESTACIÓN DE SERVICIOS. CAMBIOS AL DÍA CHILE puede negarse a prestar el Servicio a cualquier persona, sin expresión de causa, reservándose el derecho de prestación.
</p>
<p style="text-align: justify; padding-left: 20px;">
  DISPOSICIONES GENERALES. Los presentes Términos y Condiciones contienen el convenio completo (el “Acuerdo”) entre el requirente, CAMBIOS AL DÍA CHILE y el beneficiario con relación a los términos del Servicio y reemplaza todo convenio anterior, y no podrá ser alterado verbalmente. CAMBIOS AL DÍA CHILE tiene el derecho de ceder este Acuerdo a cualquier tercero, en cualquier momento, sin la necesidad de contar con Su autorización. La invalidez de cualquier cláusula del Acuerdo no invalida el resto del contrato. Los Servicios van dirigidos únicamente a personas mayores de 18 años de edad. Usted y el Destinatario declaran que el uso de los Servicios no infringe ninguna ley, incluyendo sin limitaciones aquellas relacionadas con el lavado de dinero, apuestas de juego ilegales, apoyo para actividades terroristas, fraude, entre otras actividades penadas por ley."
</p>

</body>