<li class="<%= self_or_other(message) %>">
  <div class="avatar">
    <img src="http://placehold.it/50x50"/>
  </div>
  <div class="chatboxmessagecontent">
    <p><%= message.content %></p>
    <time datetime="<%= message.created_at %>" title="<%= message.created_at.strftime("%d %b  %Y at %I:%M%p") %>">
      <%= message_interlocutor(message).username %> • <%= message.created_at.strftime("%H:%M %p") %>
    </time>
  </div>
</li>