<div class="dialog-50">

  <%= transaction_type.pay_orders.each { |pay_order|
    pay_order.rate.value
    pay_order.amount_in
    pay_order.amount_out
    pay_order.account.holdername + " " +#
            pay_order.account.bank.bankname
    pay_order.transaction_type.status
  }
  %>
</div>
