<div class="container">
  <br/>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <h3>Registrar una nueva cuenta</h3>

      <%= render "devise/shared/error_messages", resource: resource %>
      <br/>
      <%= render "devise/shared/links" %>

      <div class="col-lg-6 col-lg-offset-3">
        <%= f.label 'Nombre de usuario' %>
        <br/>
        <%= f.text_field :username, autofocus: true, autocomplete: "name" %>
      </div>

      <div class="col-lg-6 col-lg-offset-3">
        <%= f.label :email %>
        <br/>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="col-lg-6 col-lg-offset-3">

        <%= f.label :password %>
        <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
        <br/>
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>

      <div class="col-lg-6 col-lg-offset-3">

        <%= f.label :password_confirmation %>
        <br/>
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <div class="col-lg-6 col-lg-offset-3">

        <%= f.submit "Sign up", class: "btn btn-primary" %>
      </div>
  <% end %>

</div>
</div>