<%#- if controller_name != 'sessions' %>
<%#= link_to "Registrar nueva cuenta", new_session_path(resource_name) %><br/>
<%# end %>

<%#- if devise_mapping.registerable? && controller_name != 'registrations' %>
<%#= link_to "Iniciar sesión", new_registration_path(resource_name) %><!--<br /> -->
<%# end %>

<%#- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
<%#= link_to "Forgot your password?", new_password_path(resource_name) %><!--<br /> -->
<%# end %>

<%#- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
<%#= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %>
<!--<br /> -->
<%# end %>

<%#- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
<%#= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %>
<!--<br /> -->
<% #end    %>


<%- if devise_mapping.omniauthable? %>

    <div class="col-sm-6 col-sm-offset-3 left-padding-15">
    <a class="btn btn-block btn-social btn-google" href="/users/auth/google_oauth2">
        <span class="fa fa-google"></span> Continuar con Google
      </a>
    </div>

    <div class="col-sm-6 col-sm-offset-3 left-padding-15">
      <%= link_to user_facebook_omniauth_authorize_path,
                  class: "btn btn-block btn-social btn-facebook" do %>
          <span class="fa fa-facebook"></span> Continuar con Facebook

      <% end %>

    </div>



    <%#- resource_class.omniauth_providers.each do |provider| %>
    <%#= link_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider) %><br />

    <%# end %>
<% end %>
