<div class="chatboxhead">
  <div class="chatboxtitle">
    <i class="fa fa-comments"></i>

    <h1><%= @reciever.username %> </h1>
  </div>
  <div class="chatboxoptions">
    <!--
    <%= link_to "<i class='fa  fa-minus'></i> ".html_safe, "#", class: "toggleChatBox", "data-cid" => @conversation.id %>
    -->
    <%= link_to "<i class='fa  fa-times'></i> ".html_safe, "#", class: "closeChat", "data-cid" => @conversation.id %>
  </div>
</div>
<div class="chatboxcontent">
  <% if @messages.any? %>
      <%= render @messages %>
  <% end %>
</div>
<div class="chatboxinput">
  <input class="chatboxtextarea" type="text" data-cid="<%= @conversation.id %>" data-cuid="<%= @current_user.id %>"
         data-remote="true"/>
</div>

<%#=subscribe_to conversation_path(@conversation)  %>

<script>
    function open_window(kindofcall) {

        if (kindofcall == 'video') {
            var windowOpen = window.open("/video_chat/show", "test", "height=600,width=800");
        }
        if (kindofcall == 'audio') {
            var windowOpen = window.open("/video_chat/audio_call", "test", "height=600,width=800");
        }


    }

</script>