</thead>
<tbody>
<tr>
  <th scope="row"> <%= link_to pay_order.id, pay_order_path(pay_order.id) %></th>

  <td>
    <%= pay_order.created_at.to_date %>
  </td>

  <td>
    <%= pay_order.user.username %>
    <%#= link_to pay_order.user.username, 'user_path( pay_order.user.id )' %>
  </td>

  <td>
    <%= pay_order.account.holdername.truncate(15) + " (" + pay_order.account.bank.bankname.truncate(10) + ")" %>

  </td>
  <td>
    <% if pay_order.transaction_type.status == 'Pendiente por Pagar' %>
        <i class="fa fa-cog">
          <%= pay_order.transaction_type.status %>
        </i>

    <% end %>
    <% if pay_order.transaction_type.status == 'Marcado como Pagado' %>

        <i class="fa fa-check-circle">
          <%= pay_order.transaction_type.status %>
        </i>
    <% end %>
    <% if pay_order.transaction_type.status == 'Cancelado' %>

        <i class="status-good fa fa-ban">
          <%= pay_order.transaction_type.status %>
        </i>

    <% end %>
  </td>

  <td>
    <%= pay_order.amount_out %>
  </td>

  <td>
    <%= pay_order.amount_in %>
  </td>

</tr>

</tbody>