<%= render 'shared/send_money' %>

<%= will_paginate %>
<table class="table">
  <thead class="thead-light">
  <tr>
    <th scope="col">#</th>
    <th scope="col">Creado en</th>
    <th scope="col">Comprador  </th>
    <th scope="col">Beneficiario - (Banco)</th>
    <th scope="col">Estado de la transacción</th>
    <th scope="col">Bolivares</th>
    <th scope="col">Euros</th>
  </tr>

  <%= render @pay_orders %>
</table>

<%= will_paginate %>