<div class="container">
  <div class="row">

    <div class="col-sm-6">
      <h1> Instrucciones</h1>

      <div class="row">
      Selecciona una de tus cuentas bancarias previamente registradas,
      en caso de no aparesca niguna cuenta en la lista desplegable, debes presionar
      el botón amarillo "agregar cuenta"
      </div>

      <div class="row">

        <%= link_to new_account_path, remote: true, data: {target: '#uploadpost', toggle: 'modal'}, class: "btn btn-warning" do %>
            <i class="fa fa-plus">
              <i class="fa fa-university"> Nueva cuenta bancaria </i>
            </i>

        <% end %>

      </div>
    </div>

    <div class="col-sm-6">
      <div class="row">
        <div class="col-sm-4">total en Euros:</div>

        <div class="col-sm-8">value</div>
      </div>

      <div class="row">
        <div class="col-sm-4"> total en Bolivares:</div>

        <div class="col-sm-8"> value</div>
      </div>
    </div>

    <%= form_for @pay_order, html: {multipart: true} do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

        <div class="col-sm-6 col-sm-offset-3">

          <%= f.label 'Cuenta destino' %>
          <br>

          <%= f.collection_select(:account_id, current_user.accounts.all, :id,
                                  :name_with_bank, required: true) %>

        </div>

    <% end %>

    <table class="table">
      <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Creado en</th>
        <th scope="col">Beneficiario - (Banco)</th>
        <th scope="col">Estado de la transacción</th>
        <th scope="col">Bolivares</th>
        <th scope="col">Euros</th>
      </tr>

      <%#= render @pay_orders %>
    </table>

  </div>
</div>

<div id="modal-window" class="modal hide" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    </div>
  </div>
</div>