<div class="container">
  <div class="row">


  <%= form_for @pay_order, html: {multipart: true} do |f| %>

        <%= render 'shared/error_messages', object: f.object %>
        <div class="row col-sm-3 ">

          <%= f.label 'Tasa' %>
          <%= f.text_field :aux, value: current_rate.value, readonly: true, id: "ligth-gray", disabled: true %>

          <%= f.label 'Monto en Euros' %>
        <%= f.text_field :amount_in, required: true, pattern: "[0-9]{1,3}",
                         type: "numeric" %>

        <%= f.label 'monto en bolivares' %>
        <%= f.text_field :amount_out, readonly: true, class: "bolivares" %>
      </div>
        <div class="row col-sm-6 ">

          <div class="col-sm-12 col-sm-offset-1">
            <%= f.label 'Adjuntar comprobante de pago' %>
            </br>
            <%= image_tag @pay_order.capture_in, id: "img_prev" %>
            <%= f.file_field :capture_in, onchange: "readURL(this);", required: true, accept: 'image/jpeg,image/png' %>
            </br>
            <%= f.hidden_field :capture_in_cache %>
          </div>
        </div>

        <div class="col-sm-10 col-sm-offset-2">
          <%= f.label 'Cuenta destino' %>
        </div>

        <div class="col-sm-8 ">

          <div class="row">
            Selecciona una de tus cuentas bancarias previamente registradas,
            en caso de no aparescan en la lista desplegable, debes presionar
            el botón amarillo "agregar cuenta"
          </div>
          <br>

          <div class="col-sm-6 col-sm-offset-3">
            <%= link_to new_account_path, remote: true, data: {target: '#uploadpost', toggle: 'modal'}, class: "btn btn-warning" do %>
                <i class="fa fa-plus">
                  <i class="fa fa-university"> Nueva cuenta bancaria </i>
                </i>

            <% end %>
          </div>
        </div>

        <div class="col-sm-6 col-sm-offset-1">
          </br>

          <%= f.collection_select(:account_id, current_user.accounts.all, :id,
                                  :name_with_bank, {include_blank: 'Selecciona una cuenta'}, {required: true}) %>

          </br>
          </br>

      </div>


        <div class="col-sm-6 col-sm-offset-1">

          <%= f.submit "Enviar", class: "btn btn-primary" %>
        </div>
  <% end %>
  </div>
</div>
<div id="modal-window" class="modal hide" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
  <div class="modal-content">
    </div>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
    $("#pay_order_amount_in").keyup(function () {
        var css_klass, inpt;
        css_klass = $(this).attr("class");
        aux = $(this).attr('value', $(this).val());
        inpt = $(this).val();
        $("#pay_order_amount_out").val(inpt *<%= current_rate.value %>);
    });

    $(document).ready(function () {
        $("input[type=numeric]").keypress(function (event) {
            if ((event.which < 32) || (event.which > 126)) return true;
            return jQuery.isNumeric($(this).val() + String.fromCharCode(event.which));
        });// numeric.keypress;
    });// document.ready;


    function readURL(input) {

        var size_in_magebytes = input.files[0].size / 1024 / 1024;
        if (size_in_magebytes > 5) {

            alert("El temaños del archivo debe ser inferior a 5M");
            return 0;
        }

        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#img_prev')
                        .attr('src', e.target.result)
                        .width(250)
                        .height(150);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#img_prev").click(function () {

       document.getElementById("pay_order_capture_in").click();

    });
</script>