<div class="container">
  <div class="row">

    <%= form_for @pay_order, url: wizard_path, method: :put, html: {multipart: true} do |f| %>
        <h1 id="form_title">Registra tu Orden de pago</h1>

        <%= render 'shared/error_messages', object: f.object %>
        <div class="col-sm-2 col-sm-offset-5">

          <%= f.label 'Tasa' %>
          <%= f.text_field :aux, value: current_rate.value, disabled: true, id: "ligth-gray" %>
        </div>

        <div class="col-sm-6 col-sm-offset-3">

          <%= f.label 'Monto en Euros' %>
          <%= f.text_field :amount_in, required: true, patter: "[0-9]{1,3}" %>
        </div>

        <div class="col-sm-6 col-sm-offset-3">

          <%= f.label 'monto en bolivares' %>
          <%= f.text_field :amount_out, readonly: true, class: "bolivares" %>
        </div>


        <div class="col-sm-6 col-sm-offset-3 center">
          <%= f.label 'Adjunta el Comprobante de pago' %>
          </br>
          <%= image_tag @pay_order.capture_in, id: "img_prev" %>
          <%= f.file_field :capture_in, onchange: "readURL(this);" %>
          </br>

        </div>
        <div class="row">


          <div class="col-sm-6">

            <%= link_to root_path, class: 'btn btn-default' do %>
                <i class="fa fa-arrow-left"> Atras</i>
            <% end %>

          </div>

          <div class="col-sm-6">
            <%= f.submit 'Siguiente', class: 'btn btn-success pull-right fa fa-arrow-right' %>

          </div>

        </div>
  <% end %>
  </div>


</div>


<script type="text/javascript" charset="utf-8">
    $("#pay_order_amount_in").keyup(function () {
        var css_klass, inpt;
        css_klass = $(this).attr("class");
        aux = $(this).attr('value', $(this).val());
        inpt = $(this).val();
        $("#pay_order_amount_out").val(inpt *<%= current_rate.value %>);
    });

    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#img_prev')
                        .attr('src', e.target.result)
                        .width(200)
                        .height(200);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }

</script>