<div class="row">

  <div class="row col-sm-6">

    <%= @pay_order.user.username %>

  </div>

  <div class="row col-sm-6">

    <%= @pay_order.user.email %>

  </div>

  <div class="row col-sm-6">
    <%= image_tag @pay_order.capture_in.url, class:'user_pay_capture' if @pay_order.capture_in? %>
  </div>


  <div class="row col-sm-6">
    Descargar imagen

  </div>


  <div class="row col-sm-6">
    monto a transferir bolivares:
    <%= @pay_order.amount_out %>

  </div>
  <div class="row col-sm-6">
    EUROS:
    <%= @pay_order.amount_in %>
  </div>


</div>