<div class="dialog">
  <h1 id="form_title">Regístrate</h1>
  <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= f.label 'Nombre de usuario' %>
      <%= f.text_field :username %>

      <%= f.label 'Contraseña' %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirmación" %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit "Enviar", class:"btn btn-primary" %>
  <% end %>
  <ul class="session-links">
    <%#= link_to "Iniciar con google", '/auth/google_oauth2'  %>
    <a class="btn btn-block btn-social btn-google" href="/users/auth/google_oauth2">
      <span class="fa fa-google"></span> Iniciar session con Google
    </a>


    <a class="btn btn-block btn-social btn-facebook" href="/users/auth/facebook">
      <span class="fa fa-facebook"></span> Iniciar session con Facebook
    </a>

    <li id="init_sess"><%= link_to t("Sign In"), login_path %></li>
  </ul>
</div>