<% if @connected_users %>
    <ul>
      <% @connected_users.each_with_index do |connected_user, index| %>

          <% unless connected_user.user.id ==
                  current_user.id %>
              <li>
                <div class="inner-div-chat" id="chat-name"><%= connected_user.user.username %></div>
                <div class="inner-div-chat" id="chat-btn">
                  <button class="btn btn-success btn-xs" onclick="start_conversation(<%=current_user.id %>, <%= connected_user.user.id %>)">Send
                    Msg
                  </button>
                </div>
                <!--<div class="inner-div-chat" id="chat-status" ><%= connected_user.user.connected %></div>-->
              </li>
          <% end %>
      <% end %>
    </ul>
<% end %>


<script>

    function start_conversation(sid, rip) {
//        var sender_id = $(this).data('sid');
//        var recipient_id = $(this).data('rip');

        var sender_id = sid;
        var recipient_id = rip;

        $.post("/conversations", { sender_id: sender_id, recipient_id: recipient_id }, function (data) {
            chatBox.chatWith(data.conversation_id);
        });
    }
    ;

</script>