<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel">
    Añade la cuenta del Beneficiario en Venezuela
  </h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">

  <%= form_for(@account) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <div class="col-sm-6 col-sm-offset-3">

        <%= f.label 'Cuenta destino ' %>
        <br>
        <%= f.collection_select(:bank_id, Bank.all, :id, :bankname,
                                {include_blank: 'Selecciona un banco'}, required: true) %>
      </div>

      <div class="col-sm-6 col-sm-offset-3">

        <%= f.label 'Nombre del Beneficiario en Venezuela' %>
        <%= f.text_field :holdername, required: true, placeholder: "titular de la cuenta",
                         pattern: "[a-zA-Z]{3,}[a-zA-Z\s]*",
                         oninvalid: "this.setCustomValidity('Introduce al menos 3 letras')",
                         oninput: "this.setCustomValidity('')" %>
      </div>

      <div class="col-sm-6 col-sm-offset-3">
        <%= f.label 'Numero de cuenta del beneficiario' %>
        <%= f.text_field :number, required: true, placeholder: "numero de cuenta", type: "numeric",
                         pattern: "[0-9]{20}", oninvalid: "this.setCustomValidity('Introduce los 20 numeros de cuenta')",
                         oninput: "this.setCustomValidity('')" %>
      </div>

      <div class="col-sm-6 col-sm-offset-3">

        <%= f.label 'documento' %>
        <%= f.text_field :documentid, required: true, placeholder: "V18123456 o J410532427",
                         type: "text", pattern: "([v,r,e]|[V,R,E])[0-9]{6,8}",
                         oninvalid: "this.setCustomValidity('Ejemplo: V18208301, E80123456 o J410532427')",
                         oninput: "this.setCustomValidity('')" %>
      </div>
      <div class="col-sm-6 col-sm-offset-3">

        <%= f.submit "Enviar", class: "btn btn-primary" %>
      </div>

  <% end %>
</div>
<div class="modal-footer">
</div>
<script>
    $(document).ready(function () {
        $("input[type=numeric]").keypress(function (event) {
            if ((event.which < 32) || (event.which > 126)) return true;
            return jQuery.isNumeric($(this).val() + String.fromCharCode(event.which));
        });// numeric.keypress;
    });// document.ready;
</script>