<ul class="navbar-nav ml-auto mt-2 mt-lg-0">
  <% if user_signed_in? %>
      <li class="nav-item">
        <a href="#" class="nav-link">Hola, <%= current_user.username %></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-user"></i>
        </a>

        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">
            <i class="fa fa-user"> <%= current_user.username %> </i>
          </a>
          <%= link_to new_user_registration_path, class: "dropdown-item" do %>
              <i class="fa fa-edit"> Editar perfil </i>
          <% end %>

          <%= link_to new_user_registration_path, class: "dropdown-item" do %>
              <i class="fa fa-tachometer"> Panel de control </i>
          <% end %>
          <div class="dropdown-divider"></div>

          <%= link_to destroy_user_session_path, class: "dropdown-item", method: :delete do %>
              <i class="fa fa-sign-out fa-fw"> Cerrar sesión</i>
          <% end %>

        </div>
      </li>
  <% else %>
      <li class="nav-item"><%= link_to new_user_registration_path, class: "nav-link padding-side-15" do %>
            <i class="fa fa-check-square-o"> Registro</i>
        <% end %>
      </li>

      <li class="nav-item"><%= link_to new_user_session_path, class: "nav-link padding-side-15" do %>
            <i class="fa fa-user"> iniciar sesión</i>
        <% end %>
      </li>
  <% end %>
</ul>