<ul class="navbar-nav mt-2 mt-lg-0">

  <li class="nav-item">
    <%= link_to "Home", root_path, class: "nav-link" %>
  </li>

  <li class="nav-item">
    <%= link_to "Tasa del dia", rates_path, class: "nav-link" %>
  </li>

  <li class="nav-item">
    <%= link_to "Servicios", root_path, class: "nav-link" %>
  </li>

  <li class="nav-item">
    <%= link_to "Promociones", root_path, class: "nav-link" %>
  </li>

  <li class="nav-item">
    <%= link_to "FAQS", root_path, class: "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to "Contactanos", root_path, class: "nav-link" %>
  </li>
</ul>