<div class="send_panel">
  <h4> realiza la transferencia a la cuenta que te indique el admisitrador</h4>

  <div class="row">

    <div class="col-sm-9 border-light">
      contacta con nuestros administradores medianta el chat, ellos te indicaran la cuenta
      a la cual realizar el pago, es importante seguir todos los pasos que ellos te indiquen
    </div>
    <%= render 'layouts/chat_buttom' %>

  </div>


</div>