<div class="send_panel">
  <h3>Realizar un envío de remesa</h3>

  <div class="row">

    <div class="col-sm-9 border-light">
      Presione el botón "enviar remesa" y se mostrará un formulario que le ayudará paso a paso en su
      operación.
    </div>

    <div class="col-sm-3">
      <%= link_to new_pay_order_path, class: "btn btn-primary" do %>
    <i class="fa fa-eur"> Enviar remesa </i>
      <% end %>
    </div>

  </div>

</div>