<div class="sidebar col-sm-3 bg-white">

  <div class="menu">
    <h3>Menu</h3>
  </div>

  <ul class="navbar-nav">
    <%= active_link_to root_path, class: "navbar-link", active: :exact do %>
        <li class="nav-item pt-2 pb-2">
        <i class="fa fa-home"> Home</i>
        </li>

    <% end %>

    <%= active_link_to new_pay_order_path, class: "navbar-link", active: :exact do %>
        <li class="nav-item pt-2 pb-2">
          <i class="fa fa-eur"> Enviar remesa </i>
        </li>

    <% end %>

    <%= active_link_to new_account_path, class: "navbar-link", active: :exact do %>
        <li class="nav-item pt-2 pb-2">
          <i class="fa fa-university"> Añadir cuenta bancaria </i>
        </li>

    <% end %>

    <%= active_link_to pay_orders_path, class: "navbar-link", active: :exact do %>
        <li class="nav-item pt-2 pb-2">
          <i class="fa fa-eur"> Transacciones </i>
        </li>

    <% end %>

    <%= link_to root_path, class: "navbar-link" do %>
        <li class="nav-item pt-2 pb-2">
          <i class="fa fa-user"> <%= current_user.username %> </i>
        </li>
    <% end %>

  </ul>
</div>