<% if @connected_users %>
    <div class="chat-container col-md-7">
      <div class="title-lbl">
        <div class="panel-heading">Chat</div>
      </div>
      <div>
        <%= render 'shared/connected_users' %>
      </div>
    </div>
<% end %>