<div class="container">
  <br/>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <h3>Iniciar sesión</h3>
      <%= render "devise/shared/error_messages", resource: resource %>
      <br/>
      <%= render "devise/shared/links" %>

      <div class="col-sm-6 col-sm-offset-3">
      <%= f.label :email %>
        <br/>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="col-sm-6 col-sm-offset-3">
      <%= f.label :password %>
        <br/>
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>

      <% if devise_mapping.rememberable? %>
          <div class="col-sm-6 col-sm-offset-3">
          <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
      <% end %>

      <div class="col-sm-6 col-sm-offset-3">
      <%= f.submit "Log in", class: "btn btn-primary" %>
      </div>
  <% end %>

</div>
</div>