// Place all the styles related to the ConnectedUsers controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
$chat-box-size: 380px;
.chat-container {

  display: block;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .3);
  overflow-y: auto;
  overflow-x: hidden;
  background: #FFFFFF;
  width: $chat-box-size;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .3);
  border: solid #FFF 4px;
  overflow-y: hidden;
  overflow-x: hidden;


  ul {
    overflow-y: scroll;
    overflow-x: hidden;
    height: $chat-box-size;
    background-color: #000000;
    li {
      list-style-type: none;
    }
  }
}

.panel-heading {
  padding: 0;
  border-bottom: 1px solid transparent;

  > .dropdown .dropdown-toggle {
    color: inherit;
  }
}

.title-lbl {
  background: #029feb;

}