// Place all the styles related to the PayOrders controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
#ligth-gray {
  background: lightgray;
  text-align: center;
}

.fa-cog {
  color: darkgoldenrod;
}

.fa-check-circle {
  color: green;
}

.fa-ban {
  color:red;
}

.bolivares {
  background: lightgray;
  text-align: center;
}

#img_prev {

  width: 161px;
  height: 161px;
}

#term_of_service {

  overflow-y: auto;
  overflow-x: hidden;
  max-height: 250px;
  border: 1px solid;
  border-radius: 3px;
}

[type="checkbox"] {
  width: auto;
  margin: 0 0 0 -20px !important;

}

a.inactive {
  pointer-events: none;
  cursor: crosshair;

}

#pay_order_capture_in{
  padding-top: 10px;
}

.user_pay_capture{
  height: 200px;
  width: 300px;
}