// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

.gm-style-pbc {
  transition: opacity ease-in-out;
  background-color: rgba(0, 0, 0, 0.45);
  text-align: center
}

.gm-style-pbt {
  font-size: 22px;
  color: white;
  font-family: Roboto, Arial, sans-serif;
  position: relative;
  margin: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%)
}

.gm-style .gm-style-cc span, .gm-style .gm-style-cc a, .gm-style .gm-style-mtc div {
  font-size: 10px
}

@media print {
  .gm-style .gmnoprint, .gmnoprint {
    display: none
  }
}

@media screen {
  .gm-style .gmnoscreen, .gmnoscreen {
    display: none
  }
}

.gm-style {
  font-family: Roboto, Arial, sans-serif;
  font-size: 11px;
  font-weight: 400;
  text-decoration: none
}

.gm-style img {
  max-width: none
}

#header-rate {
  ul {
    li {
      font-family: 'uni_sans_lightregular', Arial, Helvetica, sans-serif;
      text-align: center;
      border-top: 1px solid #32343e;
      border-right: 1px solid #32343e;
      margin-right: -5px;
      color: #ffffff;
      font-family: 'uni_sans_lightregular', Arial, Helvetica, sans-serif;

      a {
        font-size: 12px;
        color: #babbbe;
        font-weight: lighter;

      }
      a:hover {
        color: #ffffff !important;
        background-color: #282a35 !important;
        font-size: 12px;
      }
    }
  }
}

.rate {
  font-family: 'uni_sans_lightregular', Arial, Helvetica, sans-serif;
  text-align: center;
  border-top: 1px solid #32343e;
  border-right: 1px solid #32343e;
  margin-right: -5px;
  color: #aaaaaa;
  float: right !important;
}

.header-gray-color {
  background: #282a35;
}

.btn_caption {
  font-weight: bold;
  font-size: 12px;
}

.blue_gradient {

  background: linear-gradient(to bottom, rgba(24, 46, 70, 1) 0%, rgba(34, 60, 87, 1) 50%, rgba(34, 61, 90, 1) 50%, rgba(41, 71, 99, 1) 100%);
  color: white;

}

.col-lg-6 .block {
  background: #00c2d2;
  padding: 25px 10px;
  margin: 65px 0 65px;
  color: #fff;
  overflow: hidden;
  font: 18px/22px 'source_sans_proregular', Arial, Helvetica, sans-serif;
  transition: all .2s ease;
  -webkit-transition: all .2s ease;
}

.col-lg-6 {
  a, .area {
    text-decoration: none;
  }
}

.news {
  color: #fff;
  padding: 12px 0;
  overflow: hidden;
  font: 15px/18px 'source_sans_proregular', Arial, Helvetica, sans-serif;
  ackground: #00bdca;
}

.platform, .platform-statistic {
  background: #26415a;
}

.platform ul {
  text-align: center;
}

.platform ul {
  text-align: center;
  padding: 0;
  margin: 30px 0;
  list-style: none;
  overflow: hidden;
  color: #fff;
  font-size: 0;
  line-height: 0;
  letter-spacing: -4px;
  text-transform: uppercase;
}

.platform ul li {
  padding: 0 60px;
  border-left: 1px solid #00b3bf;
  letter-spacing: 0;
  display: inline-block;
  vertical-align: top;
  font: 28px/33px 'uni_sans_lightregular', Arial, Helvetica, sans-serif;
  border-top: 0;
  border-right: 0;
}

.platform ul li:first-child {
  border: none;
}

.heading {
  color: #ffffff;
}

.social-panel {
  color: #fff;
  padding: 22px 0;
  overflow: hidden;
  font: 15px/18px 'source_sans_proregular', Arial, Helvetica, sans-serif;
  background: #00bdca;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#22222c', endColorstr='#242730', GradientType=0);
}

.info-why {
  text-align: center;
}

#why > ul > li {
  text-align: center;
}

.glyphicon {
  font-size: 50px;
}

.info-holder {
  div {
    ul {
      li {
        border-top: 0;
      }
    }
  }
}

#init_sess {
  background-color: #7292b0;
  border: 0;
  box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  color: #fcfaf5;
  cursor: pointer;
  font-size: 12px;
  letter-spacing: 0.05em;
  padding: 12px;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  margin: 40px auto 0;
  width: 150px;
  text-align: center;
  &:hover {
    background-color: #eeaf3a
  }
  &:active {
    background-color: #333;
    display: block;
  }
}

#alrdy_account {

  text-align: center;

}

/* RAILS tutorial css */
$gray-medium-light: #eaeaea;
$gray-light: #eaeaea;
$gray-medium: #eaeaea;
$gray: #eaeaea;
$gray-darker: #eaeaea;
/* universal */

body {
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #000000;
}

h3 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #000000;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* forms */

input, textarea, select, .uneditable-input {
  border-radius: 4px;
  width: 100%;
  margin-bottom: 15px;
}

input {
  height: auto !important;
}

/* table */

th {
  border-radius: 4px;
}

.blue_ligth {
  background: #00c2d2;
  padding-bottom: 30px;
}

.send_panel {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
}

.sidebar {
  border-radius: 3px;
  ul {
    width: 100%;
    li {

    }
    a {
      color: #808080;
      border-radius: 3px;
      border-bottom: 1px solid #f0f0f0;
      i {
        padding-left: 4px;
      }
    }
    a:hover {
      color: #5b9bd1;
      background-color: #f6f9fb;
      border-left: 4px solid #5b9bd1;
      margin-left: -4px;
    }
  }
}

a.active {
  li {
    color: #5b9bd1;
    background-color: #f6f9fb;
    border-left: 4px solid #5b9bd1;
    margin-left: -10px;
    border-radius: 3px;
    border-bottom: 1px solid #f0f0f0;

  }

}

.box {

  text-align: center !important;
  -webkit-box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.05) inset;
  box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.05) inset;
  -webkit-transition: background .5s ease-in-out;
  -moz-transition: background .5s ease-in-out;
  -o-transition: background .5s ease-in-out;
  -ms-transition: background .5s ease-in-out;
  transition: background .5s ease-in-out;
  margin: 0 0 20px;
  padding: 32px 28px;

  border-style: solid;
  border-width: 1px;
  border-color: #d5d5d5;

  border-radius: 3px;

  i {
    font-size: 40px;
  }
}


