// Place all the styles related to the Users controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
.connected-user-name {
  ul {
    background-color: #000000;

  }

}

#chat-name {
  color: #ffffff;

}

#error_explanation > ul > li {
  color: red;
}

#error_explanation > ul > li {

  border-top: 0;
  border-right: 0;
}

#form_title {
  color: #000000;
}

[type="submit"] {

  margin-top: 10px;
  margin-bottom: 10px;
}

.session-links {
  -webkit-padding-start: 0px
}

.status-good {
  color: green;
}

#page-content-wrapper {
  .navbar {

    margin-bottom: 0px;
  }

}

.left-padding-15 {

  margin-bottom: 15px;
}

