<div class="dialog">
  <h1 id="form_title">Tasa del Dia</h1>
  <%= form_for(@rate) do |f| %>
      <%= render 'shared/error_messages',object: f.object %>

      <%= f.label 'Euro -> Ves' %>
      <%= f.text_field :value %>

      <%= f.submit "Enviar", class: "btn btn-primary" %>
  <% end %>

</div>