<div class="chatbox_support" style="bottom: 0px; right: 20px; display: block;">
  <% if user_signed_in? %>
      <button type="button" id="chat" class="btn btn-primary btn-large"
              onclick="start_suport_conversation(<%=current_user.id %>, <%= get_admin.id %>)">
        Chatea con nosotros
      </button>
  <% else %>
      <%= link_to '<button type="button" id="chat" class="btn btn-primary btn-large" >Chatea con nosotros</button>'.html_safe,
                  new_user_registration_path %>
  <% end %>
</div>