
<% flash.each do |message_type, message| %>
    <% if message_type == "notice" %>
        <div class="alert alert-success "><%= message %></div>
    <% else
         if message_type == "alert" %>
            <div class="alert alert-danger "><%= message %></div>
        <% else %>
            <div class="alert alert-<%= message_type %> "><%= message %></div>
        <% end %>
        <a href="#" class="close" data-dismiss="alert">&#215;</a>
    <% end %>

<% end %>