
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">

    <%= image_tag("venemarket.png", alt: "logo", class: "navbar-brand img-responsive site-logo") %>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <%= render 'shared/navbar_left' %>

      <%= render 'shared/navbar_rigth' %>
    </div>
  </nav>