<!DOCTYPE html>
<html>
<head>
  <title>Venemarket</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<!--/#header -->
<%= render 'layouts/header' %>
<!-- errors  here are the layouts coz could be placed in whole page, shared partials only in some pages-->
<%= render 'layouts/error_messages' %>

<% if user_signed_in? %>
    <%= render 'shared/side_bar' %>
    <div class="col-sm-9">
  <% end %>
    <div class="col-sm-10 col-sm-offset-1">

      <%= yield %>
    </div>

  </div>
</div>
<!-- /#wrapper -->
<%= debug(params) if Rails.env.development? %>
</body>

</html>
